# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- This notebook contains the basic knowledge regarding data science tools.
- There are several topics like popular languages, environments, and many more mentioned.
- There are some code examples included in this notebook.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. julia
4. scala
and many more

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. panda
3. scikit-learn
4. matplotlib.pyplot

|Data Science Tools|
|-----------|
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python
|Arithmetic expressions|Examples|
|------------|---------|
|Addition ( + )|1 + 2 = 3|
|Subtraction ( - )|3 - 1 = 2|
|Multiplication ( * )|1 * 1 = 1|
|Division ( / )|1 / 1 = 1|

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Daivarath B N